:root{
--primary:#0d6efd;
--bg-gradient: linear-gradient(90deg,#0b5ed7 0%, #0d6efd 50%, #6fb1ff 100%);
}


body{
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
  flex: 1;
}

.header-card{
    background: linear-gradient(to bottom right, #f3f8f9, hwb(255 94% 4% / 0.938), #d9e7e5);
  
}

.nav-menu-list {
  gap: 20px;          
}

.nav-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #352d2d;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.hover-text-primary:hover {
  color: var(--bs-primary) !important;
  text-decoration: underline;
}

.heading{
    text-align: left; 
}

.home-section{
    background: linear-gradient(to bottom right, #0aaadb, #4844bb, #d9e7e5);
  
}

.hero-title {
    font-size: 2.25rem;
}

@media (min-width: 992px) {
    .hero-title {
        font-size: 3.75rem;
    }
}

.hero-subtitle {
    font-size: 1.8rem; 
    margin-bottom: 2rem; 
    line-height: 1.625; 
}

.desc-text{
    font-size: 1.5rem;     
    color: #f0f3f6;          
    margin-bottom: 2.5rem; 
    font-weight: 500;
}

.digital-lock{
    width: 20vw;
}

.our-card{
    font-size: 1.4rem;     
    color: #010c17;      
    font-weight: 450;    
    margin-bottom: 2.5rem;
    margin-right: 5rem;
}

.our-content{
    color: #d93810;
    text-align: center;
}

.purpose-card{
    background-color: rgb(235, 208, 176);
}

.stats-card {
    font-size: 1.5rem;     
    color: #010c17;      
    font-weight: 500;    
    margin-bottom: 2.5rem;
}

.custom-hover:hover {
    background-color: rgb(150, 215, 10) !important;
    transform: scale(1.3);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.card-hover {
    transition: transform 0.3s ease;
}

.digital-card {
    background: linear-gradient(to bottom right, #EFF6FF, rgb(241, 95, 226));
}

.community-card{
    background: linear-gradient(to bottom right, #EFF6FF, rgb(241, 209, 95));
}

.legal-card{
    background: linear-gradient(to bottom right, #EFF6FF, rgb(233, 83, 83));
}

.fraud-card{
    background: linear-gradient(to bottom right, #EFF6FF, rgb(72, 178, 244));
}


.card-hover:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) { /* md */
    #grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 992px) { /* lg */
    #grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .purpose-hover{
     background: linear-gradient(to bottom right, #EFF6FF, red);
     transition: all 0.3s ease;
  }

  .purpose-hover:hover{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); 
    transform: translateY(-0.5rem); 

  }

  .india-image{
    width: 50vw;
    height: 50vh;
    transition: all 0.3s ease;
  }

.india-image:hover{
    transform: scale(1.3);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  }

  .custom-hover-green {
    background: linear-gradient(to bottom right, #ECFDF5, green);
    transition: all 0.3s ease;
}

.custom-hover-green:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); 
    transform: translateY(-0.5rem);
}

  .custom-hover-orange{
    background: linear-gradient(to bottom right, #ECFDF5, orange);
    transition: all 0.3s ease;
}

.custom-hover-orange:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); 
    transform: translateY(-0.5rem); 
}

.custom-hover-blue{
    background: linear-gradient(to bottom right, #ECFDF5, blue);
    transition: all 0.3s ease;
}

.custom-hover-blue:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); 
    transform: translateY(-0.5rem); 
}

.flex-container {
    width: 75vw;
    height: 40vh;
}

#grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem; 
}

@media (min-width: 768px) {
    #grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) { 
    #grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.custom-card {
    gap: 1rem; 
    border-left: 4px solid #EF4444; 
    transition: all 0.3s ease;
}

.custom-card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.3); 
    transform: translateY(-0.5rem);
}

#join-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.learn-img{
    width: 25vw;
}

.learn-container{
    background: radial-gradient(circle, #f6f8ed, rgb(2, 252, 90), #edeee9);
}

@media (min-width: 768px) {
    #join-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width: 768px) { 
    #story-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.story-card {
  transition: all 0.3s ease;
}

.story-card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transform: translateY(+0.6rem);
}

.story-image {
    width: 50vw;
    height: 50vh;
}

.success-card {
    font-size: 1.3rem;     
    color: red;      
    font-weight: 500;    
    margin-bottom: 2.5rem;
}

.success-container{
    background: linear-gradient(to bottom right, #0cdd40, rgb(232, 239, 232));
}

.custom-gradient-shadow {
    background: linear-gradient(to bottom right, #3B82F6, #1D4ED8);
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.3); 
}

.custom-gradient-green {
    background: linear-gradient(to bottom right, #e2e4e8, green);
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.3); 
}

.custom-gradient-orange {
    background: linear-gradient(to bottom right, #d9dde3, orange);
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.3); 
}

.hover-card {
    transition: all 0.3s ease;
}

.hover-card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.3); 
}

.custom-blue-box {
    width: 3rem;
    height: 3rem;
    background-color: #DBEAFE; 
}

.hover-grow {
  transition: transform 0.3s ease;
}

.hover-grow:hover {
  transform: scale(1.3);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.btn{
    border-radius: 15px;
}
